body {
   
    background-color: #f0f2f5;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card-body {
    padding: 20px;
}

img {
    border-radius: 10px;
}

.btn-light {
    margin-right: 10px;
    
}
